*{
  padding: 0;
  margin: 0;
}
/* Navbar */
.navbar{
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: grey;
}
.navbar-item{
display: inline-block;
width: calc(100% / 3);
float: left;
text-align: center;
padding: 4vh;
color: white;
box-sizing: border-box;
border: 1px solid white;
}
.width100{
  width: 100%;
}
/* Login */
.green-background{
  height: 100vh;
  background: linear-gradient(0deg, #F1F7F6 60%, #00C3B6 60%);
}
.login-card{
  position: relative;
  background-color: red;
  margin: 5%;
}
.logo{
  height: 100px;
}
.logo-placement{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -60%);
}
