*{
  padding: 0;
  margin: 0;
}
/* Navbar */
.navbar{
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #fff;
}
.navbar-item{
display: inline-block;
width: calc(100% / 3);
float: left;
text-align: center;
padding: 0.5vh 0;
color: white;
box-sizing: border-box;
border: 1px solid lightgray;
}
.width100{
  width: 100%;
}
.svgSize{
  fill: #000;
  width: 40px;
  height: 40px;
}
.svgButton{
  fill: #fff;
  width: 16px;
  height: 16px;
  margin-left: 8px;
  float: right;
}
.update{
  float: left;
}

/* Activities filter */
.containerLabel {
  display: block;
  position: relative;
  margin: 0 auto;
  margin-bottom: 18px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.containerLabel input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.iconChecked{
  fill: black;
  background-color: lightgray;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  height: 50px;
  width: 50px;
}
.containerLabel input:checked ~ .iconChecked {
  background-color: lightseagreen;
  fill: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}
.checkboxFontStyle{
  font-size: 0.7em;
  font-weight: bold;
}

/* Login */
.green-background{
  height: 100vh;
  background: linear-gradient(0deg, #F1F7F6 60%, #00C3B6 60%);
}
.login-title-placement{
  text-align: center;
  height: 0;
  padding: 10vh 0 16vh 0;
  color: white;
}
.login-span-placement{
  text-align: center;
  height: 0;
  padding: 10vh 0;
}
.login-card{
  background-color: white;
  margin: 5%;
  border-radius: 4%;
}
.logo{

}
.logo-placement{
  position: relative;
}
.logo{
  width: 80px;
  background: #00C3B6;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -60%);
}

/* Profile page */

body{
  background-color: lightgray;
  font-family: 'Roboto', sans-serif;
  color: #113A52;
}
.grayBackground{
  background-color: #fff;
  padding-bottom: 3%;
}
.profileImg{
  width:15vw;
  border-radius: 50%;
}
.username{
  font-size: 1.3em;
}
.buttons{
  background-color: lightseagreen;
  color: #fff;
  padding: 6% 15%;
  border-radius: 12px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  font-weight: bold;
}
.greenText{
  color: #00C3B6;
}
.h1Profile{
  margin: 3% 0px;
  width: 100%;
  font-weight: Bold;
}
.profileCount{
  font-size: 1.3em;
}
.profTripPin{
  color: #00C3B6;
  font-size: 1.15em;
  text-align: center;
}
/* Trip Card */
.card{
  box-shadow: 0px 4px 8px 2px rgba(0,0,0,0.2);
  border-radius: 12px;
  margin: 5% 0px;
  margin-bottom: 30%;
  background-color: #fff;
}
.cardImg{
  width: 100%;
  border-radius: 12px 5px 0 0;
}
.cardDescrip{
  padding: 5% 5%;
}
.cardLikes{
  padding: 3% 3%;
  text-align: center;
}
.usernameItalic{
  font-style: italic;
}
.flagPlacement{
  position: relative;
}
.flagImgTrip{
  width: 12vw;
  height: 12vw;
  border-radius: 50%;
  padding: 0;
  margin: 0;
}
.flagImgPadding{
  padding-left: 1%;
}
.countryVisited{
  font-size: 1.2em;
  font-weight: bold;
}
.profileInfo{
  background-color: #fff;
  margin: 0;
  padding: 0;
  width: 100%;
}
.locationDescr{
  padding: 0 2%;
}
.textCenter{
  text-align: center;
  padding-bottom: 6%;
}
.profTripPin{
  border-bottom: 3px solid #00C3B6;
}
.likeButton{
border-radius: 50px/50px;
border: solid 5px #00C3B6;
background-color: #00C3B6;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
width: 10vw;
height: 10vh;
}
/* FullTripCard */
.greenBG{
  background-color: lightseagreen;
}
.whiteBG{
  background-color: #fff;
  height: 100%;
}
.h1FullTripCard{
  color: #fff;
  margin: 10% 0%;
}
.likeB{
margin-left: 12%;
}
.likeAmount{
  margin-left: 5%;
  color: #fff;
}
.pinB{
  margin-left: 15%;
  color: #fff;
}
.userCol{
  text-align: center;
}
.user{
  border-bottom: 2px solid #fff;
  color: #fff;
}
.userImg{
  width:7vw;
  border-radius: 50%;
  margin: 5% 3% 0 0; 
}
.fullCardTitle{
  padding-top: 5%;
}
.fullCardDescr{
  margin: 2%;
  border-left: 5px solid lightseagreen;
  padding: 0 2%;
}
.flagImgFullTrip{
  width: 12vw;
  height: 12vw;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 65%;
  transform: translate(100%, -15%);
}
/* to do */
.toDo{
  width: 80%;
  float: left;
  margin: 0.3% 4.5%;
  
}

/* Album card */
.cardLocation{
  font-style: italic;
}
.cardDescr{
  margin-top: 2%;
}

.h1Explore {
  margin: 1% 0;
  width: 100%;
  font-size: 2em;
  font-weight: Bold;
}

.h2Explore {
  margin: 1% 0;
  width: 100%;
  font-size: 1.5em;
  font-weight: 100;
}

.cardExploreViews {

}

.exploreSearch {
  margin: 2% 0;
  color: #113A52;
  width: 100%;
}
/* Create Trip */
.whiteBgCreateTrip{
  background-color: #fff;
  height: 100vh;
}
.textStyle{
  border: none;
  box-shadow: 1px 4px 6px 1px rgba(0,0,0,0.2);
  border-radius: 4px;
  padding: 2%;
  margin: 1% 0 6% 0;
}
.createToDoButton{
  background-color: lightseagreen;
  color: #fff;
  border: none;
  box-shadow: 1px 4px 6px 1px rgba(0,0,0,0.2);
  border-radius:50%;
  padding: 1% 2%;
  margin-right: 2%;
}
.createToDo{
  margin-left: 3%;
}
.submitButtons{
  background-color: lightseagreen;
  color: #fff;
  font-weight: bold;
  border: none;
  box-shadow: 1px 4px 6px 1px rgba(0,0,0,0.2);
  border-radius:3px;
  padding: 2% 10%;
  margin-top: 3%;
}